* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-size: 1em;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: aqua;
}

.top {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: greenyellow;
}

.flag-box,
.timer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: 5px solid black;
    background: magenta;
}

.emoji-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border: 5px solid black;
    outline: none;
    font-size: 1.5em;
    background: orange;
}

.board {
    width: 250px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    border: 0px solid black;
    background: blue;
}

.board cell {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.clicked {
    background: #C0C0C0;
}

.one {
    color: #0000ff;
}

.two {
    color: #008000;
}

.three {
    color: #ff0000;
}

.four {
    color: #000084;
}

.five {
    color: #840000;
}

.six {
    color: #008484;
}

.seven {
    color: #000008;
}

.eight {
    color: #858585
}