* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: Consolas, monospace;
    font-size: 1em;
    font-weight: bolder;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.window {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: lightgray;
    margin: 5px;
    padding: 0;
}

.title {
    width: 240px;
    height: 25px;
    display: flex;
    background: #245DDA;
    color: white;
    margin: 0;
    padding: 5px 0 0 5px;
}

.top {
    width: 231px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-top-color: gray;
    border-left-color: gray;
    box-sizing: border-box;
    margin: 5px 0;
}

.flag-box,
.timer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 60px;
    height: 40px;
    background: white;
    border: 3px solid white;
    border-top-color: gray;
    border-left-color: gray;
    box-sizing: border-box;
}

.emoji-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    outline: 0;
    border: 3px solid gray;
    border-top-color: white;
    border-left-color: white;
    box-sizing: border-box;
    font-size: 1.5em;
}

.board {
    width: 225px;
    height: 225px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid white;
    border-top-color: gray;
    border-left-color: gray;
}

cell {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid gray;
    border-top-color: white;
    border-left-color: white;
    box-sizing: border-box;
}

.clicked {
    background: #C0C0C0;
    border: 1px solid gray;
    box-sizing: border-box;
}

#level-select {
    width: 150px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.one {
    color: #0000ff;
}

.two {
    color: #008000;
}

.three {
    color: #ff0000;
}

.four {
    color: #000084;
}

.five {
    color: #840000;
}

.six {
    color: #008484;
}

.seven {
    color: #000008;
}

.eight {
    color: #858585
}
