* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: Consolas, monospace;
    font-size: 1.5em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: aqua;
}

.top {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background: greenyellow;
}

.flag-box,
.timer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background: magenta;
}

.reset-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background: orange;
}

.grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;

    background: blue;
}

.grid div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background: red;
}